body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* nav bar styles START */
.navbar {
    display: flex;
    flex: 1;
    padding: 0 20px;
    max-height: 75px;
    min-height: 75px;
    background-color: #67a3ba;
    color: white;
}

.name {
    flex: 1;
}

.nav_buttons {
    display: flex;
    flex: 4;
    font-size: 1.5em;
    justify-content: space-evenly;
    align-items: center;
}

.nav_buttons a {
    color: white;
}

.nav_buttons a:hover {
    color: yellow;
}

.logged_in_as {
    font-size: medium;
}

/* nav bar styles END */


/* main content styles START */
.content {
    display: flex;
    flex: 1;
}

.left {
    flex: 1;
    background-color: white;
    padding: 0 20px;
}
.right {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: center;
    flex: 1;
    padding: 0 20px;
    background-color: rgb(227, 245, 255);
    max-width: max(11%, 100px);

    border-left: 1px solid rgb(205, 205, 205);
}
.flash {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: center;
    flex: 0;
    background-color: rgb(227, 245, 255);
    color: red;
}
.temp {
    display: flex;
    flex-direction: column;
    align-items: left;
    flex: 1;
}

/* post styles START */
.post {
    background-color: rgb(227, 245, 255);
    margin: 5px;
    padding: 10px;
}

.post_content {
    font-size: large;
}

.post img {
    max-width: 400px;
    max-height: 400px;
}

/* friend request styles START */
.sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.request {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 2px black;
    border-radius: 5%;
    text-align: left;
}

/* button styles START */
.requestButtonContainer {
    display: flex;
    gap: 5px;
}

.accept, .decline {
    font-size: .7rem;
    cursor: pointer;
    border: none;
}

.accept {
    background-color: rgb(196, 255, 196);
}

.accept:hover {
    background-color: rgb(140, 255, 140);
}

.decline {
    background-color: rgb(255, 176, 176);
}

.decline:hover {
    background-color: rgb(255, 132, 132);
}

.add_friend_box {
    margin-top: 10px;
}
/* button styles END */
/* friend request styles END */
/* main content styles END */

/* Home/My account page styles */
.top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.username {
    font-size: 2em;
}