<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css"/>
    <title>{% block title %}{% endblock %} - Facebook-ish</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="name">
                <h1>Facebook-<span style="font-style: italic;">ish</span></h1>
            </div>
            {% if session.get("username") %}
            <div class="nav_buttons">
                <h2 class="logged_in_as">Logged in as {{ session['username'] }}</h2>
                <a href="/my_page">My Page</a>
                <a href="/feed">Feed</a>
                <a href="/post/create">New Post</a>
                <a href="/auth/logout">Logout</a>
            </div>
            {% else %}
            <div class="nav_buttons">
                <h2 class="logged_in_as">Not signed in</h2>
                <a href="/auth/login">Login</a>
                <a href="/auth/register">Register</a>
            </div>
            {% endif %}
        </div>
        <div class="content">
            <div class="left">
                <div class="temp">{% block content %}{% endblock %}</div>
            </div>
            {% if session.get("username") %}
            <div class="right">
                <h4>Friend Requests</h3>
                    <ul id="request-list" class="sidebar-list">
                    </ul>
                    <div class="flash">
                        {% for message in get_flashed_messages() %}
                        Error: {{ message }}
                        {% endfor %}
                    </div>
                    <form action="/friends/send_request" method="post" class="add_friend_box">
                    <input type="text" name="friend">
                    <input type="submit" value="Add Friend">
                </form>
                <h4>Friends List</h4>
                <ul id="friend-list" class="sidebar-list">
                    
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
    <script src="../static/js/home.js"></script>
</body>
</html>