{% extends 'base.html' %}

{% block title %}Feed{% endblock %}

{% block content %}
    {% for post in feed %}
    <div class="post">
        <p class="post_content">{{ post.content }}</p>
        {% if post.image and post.image != "" %}
            <img src="{{ post.image }}">
        {% endif %}
        {% if session['username'] == post.username %}
            <p class="post_author">posted by you @ {{ post.date_time }}</p>
            <p><a href="/post/edit/{{ post.id }}">Edit</a></p>
        {% else %}
            <p class="post_author">posted by {{ post.username }} @ {{ post.date_time }}</p>
        {% endif %}
        <p>
            Likes: {{ post.like_count }} <br>
        {% if post.username_likes_post(session["username"]) %}
            <a href="/post/like/{{ post.id }}">Unlike</a>
        {% else %}
            <a href="/post/like/{{ post.id }}">Like</a>
        {% endif %}
        </p>
    </div>
    {% endfor %}
{% endblock %}