{% extends 'base.html' %}

{% block title %}View Post{% endblock %}

{% block content %}
    <div class="post">
        <p class="post_content">{{ post.content }}</p>
        {% if post.image and post.image != "" %}
            <img src="{{ post.image }}">
        {% endif %}


        {% if post.original_poster_username == None %}
        <p class="post_author">posted by {{ post.username }} @ {{ post.date_time }}</p>
        {% else %}
        <p class="post_author">
            posted by {{ post.original_poster_username }}, 
            shared by {{ post.username }} @ {{ post.date_time }}
        </p>
        {% endif %}

        {% if session['username'] == post.username and post.original_poster_username == None %}
            <p><a href="/post/edit/{{ post.id }}">Edit</a></p>
        {% endif %}
        
        <p>
            Likes: {{ post.like_count }}, Comments: {{ post.comment_count }}
            {% if post.original_poster_id == None %}
                , Shares: {{ post.share_count }}
            {% endif %}
            <br>
        {% if post.username_likes_post(session["username"]) %}
            <a href="/post/like/{{ post.id }}">Unlike</a>
        {% else %}
            <a href="/post/like/{{ post.id }}">Like</a>
        {% endif %}
        <a href="/post/comment/{{ post.id }}">Comment</a>
        {% if post.original_poster_id == None %}
            <a href="/post/share/{{ post.id }}">Share Post</a>
        {% endif %}
        </p>
    </div>
    <div class="comments">
        <p>Comments:</p>
        {% if post.comment_count == 0 %}
            <p>No comments!</p>
        {% else %}
            {% for comment in post.comments %}
                <div class="post">
                    <p class="post_content">{{ comment.content }}</p>
                    <p class="post_author">posted by {{ comment.username }} @ {{ comment.date_time }}</p>
                    {% if comment.username == session["username"] %}
                        <a href="/post/comment/edit/{{ comment.id }}">Edit</a>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}